:root {
  /* Brand Colors */
  --color-primary: #222;
  --color-secondary: #1664a4;

  /* Background Colors */
  --color-bg: rgb(209, 223, 234);
  --color-bg-secondary: rgb(122, 186, 219);
  --color-bg-accent: rgb(152, 207, 255);
  --color-bg-hover: rgb(171, 214, 233);

  /* Text and Border Colors */
  --color-text: #222;
  --color-text-alt: #fff;
  --color-text-gray: #6b7280;
  --color-border: rgb(0 0 0 / 6%);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', arial, 'Noto Sans', sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
}
